<h1 class="page-title">Resultados Allure para Digital (Mobile)</h1>
<div class="wrapper">
    <ul class="listing">
        <li class="container1" onclick="location.href = 'reports/digital/chrome-mobile/allure/index.html';">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-android.png">
                <img class="logo-app" src="images/logo-pixel.png">
            </div>
            <h2 class="container-title">Google Chrome</h2>
            <p class="container-text">Mobile</p>
        </li>
        <li class="container2" onclick="location.href = 'reports/digital/safari-mobile/allure/index.html';">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-iphone.png">
            </div>
            <h2 class="container-title">Apple Safari</h2>
            <p class="container-text">Mobile</p>
        </li>
    </ul>
    <br>
</div>