<h1 class="page-title">Resultados Allure para Diario AS - Movilidad</h1>
<div class="wrapper">
    <ul class="listing">
        <li class="container1" onclick="location.href = 'reports/android/allure/index.html';">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-android.png">
                <img class="logo-app" src="images/logo-pixel.png">
            </div>
            <h2 class="container-title">App en Pixel</h2>
            <p class="container-text">Android</p>
        </li>
        <li class="container2" onclick="location.href = 'reports/ios/allure/index.html';">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-iphone.png">
            </div>
            <h2 class="container-title">App en iPhone</h2>
            <p class="container-text">iOS</p>
        </li>
    </ul>
    <br>
</div>