<h1 class="page-title">Resultados Allure para Digital (Desktop)</h1>
<div class="wrapper">
    <ul class="listing">
        <li class="container1" onclick="location.href = 'reports/digital/chrome-desktop/allure/index.html';">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-chrome.png">
                <img class="logo-app" src="images/logo-desktop.png">
            </div>
            <h2 class="container-title">Google Chrome</h2>
            <p class="container-text">Desktop</p>
        </li>
        <li class="container2" onclick="location.href = 'reports/digital/safari-desktop/allure/index.html';">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-safari.png">
                <img class="logo-app" src="images/logo-desktop.png">
            </div>
            <h2 class="container-title">Apple Safari</h2>
            <p class="container-text">Desktop</p>
        </li>
    </ul>
    <br>
</div>