<footer class="site-footer">
  <div class="wrap-footer">
    <span class="site-footer-credits">La página ha sido generada con <a href="https://pages.github.com">GitHub Pages</a> y <a href="https://github.com/jasonlong/cayman-theme">Cayman Theme</a>.</span>
    <span class="site-footer-somos-hiberus"><img class="site-footer-somos-hiberus" src="images/somos-hiberus-logo.png"></span>
    <span class="site-footer-hiberus"><a href="https://www.hiberus.com/">www.hiberus.com</a></span>
  </div>
</footer>